<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="{{ url_for('recipes') }}">꿀팁 레시피</a>
      <a href="{{ url_for('roulette') }}">오늘 뭐 먹지?</a>
      <a href="{{ url_for('bulletinBoard') }}">게시판</a>
      <a href="{{ url_for('signup') }}">회원가입</a>
      <a href="{{ url_for('signin') }}">로그인</a>
    </div>
    <p class="footer-text">© 2025 F.A.M.E. All rights reserved.</p>


    <img src="../static/images/avocado.png" class="pop-avocado">
    <img src="../static/images/meat.png" class="pop-meat">
    <img src="../static/images/frying-pan.png" class="pop-pan">
    <img src="../static/images/fried-egg.png" class="pop-friedegg">
    <img src="../static/images/fish.png" class="pop-bacon">

  </div>
</footer>